<section>
  <div class="row"><label class="titulo">Agenda Imortais</label></div>
  <hr />
  <div class="row">
    <div class="col-12 col-md-3">
      <ngb-datepicker #dp [(ngModel)]="data" (select)="getEvento()"></ngb-datepicker>
      <br />
      <button class="btn btn-success btnContra" (click)="openPopup()">Marcar um contra</button>
    </div>
    <div class="col-12 col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Eventos do dia {{ data.day }}/{{data.month}}/{{data.year}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of eventos">
            <td>{{ evento.descricaoEvento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
